.container_main{
    display: flex;
    justify-content: space-around;
    padding: 1vh;
    padding-top: 6vh;
    margin: 0 auto;
}


.inv_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 40%;
    margin: 2vh;
    text-align: center;
    background: #fff;
    border-radius: 4%;
}

.card img {
    width: 80%;
    margin-top: 2vh;
}

.card h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.2vh;
}

.card p {
    font-family: 'Ysabeau Infant', sans-serif;
}

.card button {
    border: 1px solid #000;
    background: none;
    border-radius: 15%;
    cursor: pointer;
    transition: all 0.5s;
    padding: 1vh;
    margin: 1vh;
    margin-bottom: 3vh;
}

.card button:hover {
    
    background: #ac3333;
    
}

.firstTitle_container {
    width: 100%;
    text-align: center;
    font-size: 2.4vh;
    font-family: 'Abril Fatface', cursive;
    color: white;
    padding-top: 4vh;
}







